<div class="h-32  mt-4">
    <div class=" w-100 pt-8 h-full footer">
           <div class="container h-full d-flex justify-between align-center">
                <div>
                    <h2 class="text-center p-2 prata">LIVRAISON</h2>
                    <p>Livraison dans la France metropolitaine</p>
                </div>

                <div>
                    <h2 class="text-center p-2 prata">QUALITÉ</h2>
                    <p>Nos produits sont fabriqués avec amour</p>
                </div>

                <div>
                    <h2 class="text-center p-2 prata">PAIEMENT SÉCURISÉ</h2>
                    <p>Vos informations de paiement sont sécurisées</p>
                </div>

           </div>
    </div>
</div>