<div >
  <div class="bg-purple-transparancy z-20 fixed w-100">
    <div class="container py-2">
    <div class="d-flex justify-between align-center">
        <div class="">
          <a href="#" class=" text-xs navbar-no-decoration">FEMME</a>
          <a href="#" class=" text-xs mx-8 navbar-no-decoration" >HOMME</a>
        </div>
        <div class="mx-4">
          <%= link_to root_path ,class: 'navbar-no-decoration' do %>
            <h1 class="prata text-2xl">FashionAddict</h1>
          <% end %>
      </div>
                <div class="mx-4">
    <% if user_signed_in? %>
      <%= link_to "SE DECONNECTER", destroy_user_session_path, method: :delete, class: "text-xs navbar-no-decoration"%>

    <% else %>
          <%= link_to "SE CONNECTER", new_user_session_path, class: "text-xs navbar-no-decoration" %>
        </div>
    <% end %>   

      </div>
    </div>
  </div>
  
</div>


<!--

  -->
  